
<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% else %>
  <!-- Hide the alert if notice is empty -->
<% end %>

<%= render @post %>

<div class="container px-4 text-center">
  <%= link_to "Edit", edit_post_path(@post), class:"btn btn-secondary" %> |
  <%= link_to "Back to posts", posts_path, class:"btn btn-secondary" %>
  
  <%= button_to "Destroy this post", @post, method: :delete, class:"btn mt-2 btn-outline-danger" %> 

</div>

