
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" >
      <%= link_to "Home", root_path, class:"navbar-brand btn btn-outline-success" %>
      
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-link">
            <button type="button" class="btn btn-outline-success position-relative">


              <% if Post.any? %>
  <%= link_to "Posts", post_path(Post.last.id), class: "text-decoration-none text-dark" %>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
    <%= Post.all.count %> <span class="visually-hidden">unread messages</span>
  </span>
<% else %>
  <%= link_to "Posts", posts_path, class: "text-decoration-none text-dark" %>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
    0 <span class="visually-hidden">unread messages</span>
  </span>
<% end %>





            </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button type="button" class="btn btn-outline-success position-relative text-dark">
              Message <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">5<span class="visually-hidden">unread messages</span></span>
            </button></a>
        </li>
        <li class="nav-item nav-link">
         <%= link_to "New Post", new_post_path, class:"btn btn-outline-success text-dark" %>
        </li>
      </ul>


      
      
     <div class="row">
  <div class="col-md-8">
    <%= form_tag(search_posts_path, method: :get, class: "d-flex", id: "search-form") do %>
      <%= text_field_tag :keyword, params[:keyword], placeholder: "Enter keyword", class: "form-control me-2", id: "search-bar" %>
      <%= submit_tag "Search", class: "btn btn-outline-success", id: "search-button", style: "display:none;" %>
    <% end %>
  </div>
</div>


    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var searchBar = $('#search-bar');
    var searchButton = $('#search-button');

    searchBar.on('input', function() {
      searchButton.toggle($(this).val().trim() !== ''); // Show the button only if there's text
    });
  });
</script>